<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SparkForge Passphrase Generator</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <pre>{{ text_block }}</pre>
        </div>
    </div>

    <form action="/generate" method="post" class="mt-3">
        <div class="form-group">
            <label for="seed">Seed Value:</label>
            <input type="number" name="seed" id="seed" value="{{ seed }}" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Generate</button>
    </form>

    <a href="/download?seed={{ seed }}" class="btn btn-secondary mt-2">Download as Image</a>

    <!-- Added block of text at the bottom -->
    <div class="card mt-4">
        <div class="card-body">
            <br>Welcome to the PassPhase generator. The purpose of this site is to generate a card that asists with passwords that are easier to use.</br>
            <br>For the best results pick a few words add a special character of choice between each work and finish it off with a number you will remember.</br>
            <br>The Seed Number at the bottom is so you can make another one in the event of a loss. Its good to pick a number you will remember like an adress or phones number.</br>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
